:root{
    --font-family: 'Work Sans', sans-serif;
    --white: #fff;
    --lt-gray: #f4f4f4;
    --gray: #c9d5d6;
    --dk-gray:#6d6f7c;
    --green: #6bbe96;
    --dk-green: #6eaf86;
    --lt-teal: #789097;
    --teal: #083741;

}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body{
    font-family: 'Work Sans', sans-serif;
      font-weight: 300;
      letter-spacing: -.02rem;
      font-size: 14px;
      color: var(--teal);
      line-height: 1.667;
      text-align: center;
      margin: 0 auto;
  }

  h1, h2 {
      font-size: 2.25rem;
      font-weight: bold;
      letter-spacing: -.04rem;
      margin: 0;
      line-height: 1.2;
  }

  h3 {
      font-size: 12px;
      font-weight: 600;
  }
    p{
    padding: 0;
    line-height: 2;
    font-weight: 400;
  }
  a {
      text-decoration: none;
  }

  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }

  .container{
    max-width: 70rem;
    margin: 0 auto;
    
}
/* component dividers */ 

  .component {
    margin-bottom: 6rem;
    position: relative;
  }
  
  .component img {
    max-width: initial;
  }
  .component__img {
    border: 1px solid rgba(107,190,150,.4);
    margin: 0 auto;
    padding: 0;
    overflow-x: auto;
    position: relative;
  }
  
  .component__name {
    font-family: sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
    background-color: var(--gray);
    padding: 0.25rem;
    margin-top: 2rem;
    margin-bottom:0;
  }
  .component__text{
    background-color: var(--gray);
} 
.component__title{
    text-align: center;
    max-width: 45rem;
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    background-color: var(--teal);
    color: var(--white);
    padding: 0.25rem;
    margin: 2rem auto 0 auto;
}
  .component__code {
    border: 1px solid rgba(107,190,150,.4);
    background: #fff;
    margin: 0;
    position: relative;
  }
  
  .component__code:before,
  .component__img:before {
    content: "CODE";
    display: block;
    padding: 0.25rem;
    line-height: 1;
    font-family: sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background: var(--gray-light);
    color: var(--gray-dark);
  }
  .component__img:before {
    content: "IMG";
  }
  
/* Specific functions */

  .aside {
      background-color: var(--green);
      color: var(--white);
      padding: 15px;
      font-weight: 500;
      text-align: center;
      margin: 0, auto;
      text-decoration: none;
  }
  .aside:hover{
      background-color:#58a480;
  }

  /* hero section */

  .hero{
      background-image: linear-gradient(to bottom left, rgba(107, 190, 150, 1), rgba(255, 255, 255, 1));
      display: flex;
      justify-items: center;
      align-items: center;
      margin: 0 auto;
  }
  .hero img{
      margin-top: 0;
      margin-right: 6rem;
      padding: 0;
  }
  .hero__text{
      margin: 12rem 0 16rem 11rem;   
      max-width: 35rem;
      text-align: left;
    padding: 0;
  }
  .hero__text p{
      padding-left:0;
      padding-top: 2rem;
      line-height: 1.75;
      font-size: 16px;
      font-weight: 300;
  }

  /* cards section **** card css below ****/

  .cards__container{
      max-width: 70rem;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .cards h2{
      margin: 2rem 0 4rem 0;
  }
/* cards */
  
  .card{
    margin: 0 auto;
    border: 2px solid var(--lt-gray);
    max-width: 250px;
    text-align: center;
    color: var(--color-teal);
    border-radius: 12px;
    box-shadow: 8px 8px 6px rgba(244,244,244, .6);
    padding: 30px 30px 40px 30px;
}

.card h3{
    letter-spacing: normal;
    font-size: 18px;
    font-weight: 600;
}

.card p{
    font-size: 14px;
    font-weight:300;
    line-height: 1.5;
    padding-left: 0;
}
/* client section */
.clients{
  background-color: var(--lt-gray);
  padding: 6rem 0;
}
.clients h3{
  font-size: 14px;
  font-weight: 300;
  padding-bottom: .75rem;
}
.clients__flat-list{
  margin: 0 auto;
    list-style-type: none;
    display: flex;
    align-content: center;
    justify-content: space-between;
    max-width: 55rem;
}
.clients__flat-list img{
  max-height: 30px;
}
/* buttons */
.button{
    background-color: var(--green);
    color: var(--teal);
    font-size: 18px;
    padding: 20px 60px;
    border-radius: 4px;
    text-align: center;
    font-weight: 600;
    margin: 2.5rem 0;
}

.button__header{
    background-color: var(--gray);
    color: var(--teal);
    font-size: 14px;
    padding: 10px 35px;
    border-radius: 4px;
    text-align: center;
    font-weight: 600;
    margin-right: 20px;
}

.button__hiring{
    background-color: var(--green);
    color: var(--white);
    border: none;
    width: 45px;
    font-weight: 600;
    font-size: 10px;
    padding: 2px 1.5px;
    text-align: center;
    border-radius: 4px;
}
.button__hiring a{
  color: var(--white)
}
.AIcontact i{
width: 150px;
}
 /* This addition is for the sake of the component page */
 .dropdown__content{
    display: inline-block;
    text-align: left;
    border-radius: 8px;   
    background-color:var(--white); 
    padding: 35px;
    margin: 0 auto;
 }
 .dropdown__content a {
    color: var(--teal);
    width: 325px;
    border-radius: 8px;
    list-style-type: none;    
    padding: 10px 25px 10px 10px;
    list-style: none;
    display: flex;
  }
.dropdown__content a:hover {background-color: rgba(107,190,150, .1);}

/* Dropdown Menu */
/* Dropdown Button */
.dropbtn {  
    padding: 30px;
    font-size: 14px;
    border: none;
  }
  

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    margin: 0 20px;
  }
  
  .dropdown h3{
      font-size: 16px;
      font-weight: 400;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    border-radius: 8px;  
    text-align: left; 
    background-color:var(--white); 
    padding: 35px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: var(--teal);
    width: 325px;
    border-radius: 8px;
    list-style-type: none;    
    padding: 10px 25px 10px 10px;
    list-style: none;
    display: flex;
  }

  .dropdown__text h4, p{
      margin: 0;
      padding-left: 15px; 
  }

  .dropdown__text p{
      color: var(--lt-teal);
      line-height: 1.25;
  }


  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgba(107,190,150,.2);}

  .dropdown-content :after {
      content: "";
      position: absolute;
      top: -18px;
      left: 7%;
      width: 0;
      height: 0;
      border: 18px solid transparent;
      border-bottom-color: var(--white);
      border-top: 0;
      margin-left: 35px;
      margin-right: 35px;

  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}


.menu-section{
    background-color: var(--lt-gray);
}

/* logo with button not-finalized */
.logo{
    padding: 20px;
}

.logo-hiring .button__hiring{
    position: relative;
    left: 145px;
    top: -80px;
    z-index: 1;

}
/* header css */
.header{
    background-color: var(--white);
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
}

.header .button__header{
    margin: 1.25rem 1.5rem 1.25rem 0;
}
.header__container{
    max-width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

}

.header__container .admin-login{
    color: var(--teal);
    font-weight: 500;
    padding-right: 20px;
}
.header__container .dropdown__div{
    order: 1;
}

.header__container .header__logo{
    align-self: flex-end;
    padding-bottom: 1rem;
    order: 2;
}

.header__container .header__admin-demo{
    display: flex;
    align-items: center;
    order: 3;
}
.header__logo{
    position: relative;
}

.header__logo .button__hiring{
    position: absolute;
  top: -10%;
  left: 85%;
}

/* footer css */
.footer__top{
  margin-top: 3rem;
  margin-bottom: 8rem;
}
.footer__grid{
    text-align: left;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
.footer__text p{
    margin: .25rem 3rem 1rem 0;
    padding: 0;
    width: 300px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.67;
    color: var(--lt-teal)
}
.footer__text img{
  margin-top: 1.25rem;
}
.footer__lists{
    display:flex;
    justify-items: center;
    align-items: space-between;
}
.lists ul{
    margin-right: 6rem;
}
.lists h3{
    font-size: 18px;
    font-weight: 600;
}
.lists li{
    font-size: 15px;
    font-weight: 300;
    line-height: 1.67;
}
.lists a{
    color: var(--teal)
}
/* footer__band */
.footer__bottom{
    background-color: var(--lt-gray);
    border-bottom: solid .25px var(--gray);
    padding: 0;
    margin: 0;
}
 .footer__band{
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.flat-list {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  
  .flat-list > * {
    flex: 1;
    padding-right: 1rem;
  }
  
  .flat-list:last-child {
    padding-right: 0;
  }
  
  .footer__nav a, li{
    color: var(--teal);
    font-weight: 400;
    display: inline-block;
    padding: .5rem 0.25rem;
  }

.social-media a, li {
    color: var(--dk-gray);
  display: inline-block;
  padding: .5rem 0.25rem;
}
/*footer-legal*/
.footer__legal{
    padding: 0 1rem 2rem 1rem;
}
.footer__legal p{
    padding: 0.5rem;
    text-align: left;
    line-height: 1.67;
    color: var(--lt-teal);
    font-weight: 300;
}
.footer__legal p:nth-of-type(1){
    padding-top: 30px;
}

@media (max-width: 60rem) { 
    .hero{
        display:block;
        padding: 2rem auto;
    }
    .hero__text{
        padding: 2rem;
        margin: 2rem auto;
        text-align: center;
    }
    .cards__container{
        max-width: 35rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1rem;
    }
    .clients__flat-list{
      display: grid;
      grid-template-columns: 1fr;
    }

    .footer__grid {
    max-width: 35rem;
    padding: 2rem;
    display: block;}
    }

    .footer__lists{
      max-width: 35rem;
    }

    .footer__lists .lists{
      margin-right: 3rem
    }

@media (max-width: 35rem) {
.cards__container{ 
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
}
.bg-radial-gradient {
  background: radial-gradient(circle, white 75%, var(--lt-gray) 25%);
  margin: 0px auto;
  padding-bottom: 50px;
	background-size: 100%;
	background-repeat: no-repeat;	
}
