:root{
    --font-sans-serif: Gill Sans MT, sans-serif;
    --white: #fff;
    --lt-gray: #f4f4f4;
    --gray: #c9d5d6;
    --green: #6bbe96;
    --dk-green: #6eaf86;
    --teal: #083741;

}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body{
      font-family: Gill Sans MT, sans-serif;
      font-weight: 300;
      font-size: 14px;
      color: var(--teal);
      line-height: 1.667;
  }

  h1, h2 {
      font-size: 2rem;
  }

  .card{
    border: 4px solid var(--lt-gray);
    max-width: 200px;
    font-size: 12px;
    text-align: center;
    color: var(--color-teal);
    border-radius: 12px;
    padding: 20px;
}
.button{
    background-color: var(--green);
    width: 180px;
    height: 50px;
    padding: 15px 20px 30px 20px;
    border-radius: 4px;
    text-align: center;
    font-weight: 600;
}

.button__header{
    background-color: var(--gray);
    width: 180px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    font-weight: 600;
}

.button__hiring{
    background-color: var(--green);
    color: var(--white);
    width: 40px;
    font-weight: 600;
    font-size: 10px;
    padding: 1.5px;
    text-align: center;
    border-radius: 4px;
}
