<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components for Involvio Case Study</title>
    <link href="css/normalize.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <h1>Case Study Components</h1>
    <h2>Typography Defaults</h2>

    <article class="component">
        <h3 class="component__name">Body with Heading</h3>
        <img srcset="img/Hero__text.png 2x" src="img/Hero__text.png" alt="Hero Text">
    </article>

    <div class="component__code">
        <h2 class="component__name">Transform student experience.</h2>
        <p>Involvio is designed with your students in mind. Communicate with a personal touch, and deliver help and
            resources where and when your students need it.</p>
    </div>

    <h3> Involvio: Button/Card Study</h3>
    <img srcset="img/homepage-card.png 2x" src="img/homepage-card.png" alt="card">

    <div class="card">
        <img srcset="img/compass.png 2x" src="img/compass.png" alt="compass">
        <h3>OrientationKit</h3>
        <p>Start your students out strong with comprehensive onboarding tools.</p>
    </div>

</body>


</html>